# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
/.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives & Logs
*.xcarchive
*.log

# iOS
*.ipa
*.dSYM.zip
*.dSYM

# Project settings
*.mode1v3
*.mode2v3
*.perspectivev3

# User data
*.moved-aside
*.hmap
*.ipa
*.xcuserdatad
*.swp

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftLint & Xcode Cache
.swiftlint_cache
.idea/
.vscode/
